.home {
  background-color: white;
  width: 80%;
  max-width: 600px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-size: 36px;
}